In [4]:
import pandas as pd
from sklearn import svm, tree

In [20]:
data = pd.read_csv("oasis_cross-sectional.csv")
data.head()

,ID,M/F,Hand,Age,Educ,SES,MMSE,CDR,eTIV,nWBV,ASF,Delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
2,OAS1_0003_MR1,F,R,73,4.0,3.0,27.0,0.5,1454,0.708,1.207,NaN
3,OAS1_0004_MR1,M,R,28,NaN,NaN,NaN,NaN,1588,0.803,1.105,NaN
4,OAS1_0005_MR1,M,R,18,NaN,NaN,NaN,NaN,1737,0.848,1.010,NaN

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      436 non-null    object
 1   M/F     436 non-null    object
 2   Hand    436 non-null    object
 3   Age     436 non-null    int64
 4   Educ    235 non-null    float64
 5   SES     216 non-null    float64
 6   MMSE    235 non-null    float64
 7   CDR     235 non-null    float64
 8   eTIV    436 non-null    int64
 9   nWBV    436 non-null    float64
 10  ASF     436 non-null    float64
 11  Delay   20 non-null     float64
dtypes: float64(7), int64(2), object(3)
memory usage: 41.0+ KB

In [24]:
data = data.drop('Delay', 1)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      436 non-null    object
 1   M/F     436 non-null    object
 2   Hand    436 non-null    object
 3   Age     436 non-null    int64
 4   Educ    235 non-null    float64
 5   SES     216 non-null    float64
 6   MMSE    235 non-null    float64
 7   CDR     235 non-null    float64
 8   eTIV    436 non-null    int64
 9   nWBV    436 non-null    float64
 10  ASF     436 non-null    float64
dtypes: float64(6), int64(2), object(3)
memory usage: 37.6+ KB

In [26]:
data = data.dropna()

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 415
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      216 non-null    object
 1   M/F     216 non-null    object
 2   Hand    216 non-null    object
 3   Age     216 non-null    int64
 4   Educ    216 non-null    float64
 5   SES     216 non-null    float64
 6   MMSE    216 non-null    float64
 7   CDR     216 non-null    float64
 8   eTIV    216 non-null    int64
 9   nWBV    216 non-null    float64
 10  ASF     216 non-null    float64
dtypes: float64(6), int64(2), object(3)
memory usage: 20.2+ KB

In [29]:
data = data.drop('ID', 1)
data.head()

  M/F Hand  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0   F    R   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
1   F    R   55   4.0  1.0  29.0  0.0  1147  0.810  1.531
2   F    R   73   4.0  3.0  27.0  0.5  1454  0.708  1.207
8   M    R   74   5.0  2.0  30.0  0.0  1636  0.689  1.073
9   F    R   52   3.0  2.0  30.0  0.0  1321  0.827  1.329

In [30]:
data = data.drop('Hand', 1)
data.head()

  M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
1   F   55   4.0  1.0  29.0  0.0  1147  0.810  1.531
2   F   73   4.0  3.0  27.0  0.5  1454  0.708  1.207
8   M   74   5.0  2.0  30.0  0.0  1636  0.689  1.073
9   F   52   3.0  2.0  30.0  0.0  1321  0.827  1.329

In [31]:
data['M/F'] = [1 if each == "M" else 0 for each in data['M/F']]

In [32]:
data.head()

   M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0    0   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
1    0   55   4.0  1.0  29.0  0.0  1147  0.810  1.531
2    0   73   4.0  3.0  27.0  0.5  1454  0.708  1.207
8    1   74   5.0  2.0  30.0  0.0  1636  0.689  1.073
9    0   52   3.0  2.0  30.0  0.0  1321  0.827  1.329

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 415
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   M/F     216 non-null    int64
 1   Age     216 non-null    int64
 2   Educ    216 non-null    float64
 3   SES     216 non-null    float64
 4   MMSE    216 non-null    float64
 5   CDR     216 non-null    float64
 6   eTIV    216 non-null    int64
 7   nWBV    216 non-null    float64
 8   ASF     216 non-null    float64
dtypes: float64(6), int64(3)
memory usage: 16.9 KB

In [34]:
y = data['CDR'].values
print(y)

[0.  0.  0.5 0.  0.  0.  0.5 0.  0.  0.  0.5 0.5 0.5 0.  1.  0.  1.  0.
 0.  0.  1.  0.5 0.5 0.  1.  1.  1.  0.  0.  0.  0.  0.5 1.  0.  0.  0.
 0.  0.  1.  0.  0.  0.5 0.  0.  0.  0.5 0.  0.  0.  0.  0.  0.  0.  0.5
 0.  0.5 1.  0.5 0.  0.  1.  0.  1.  0.  0.  0.5 0.5 0.  0.  0.5 0.5 0.5
 0.  0.  0.  0.  0.  0.5 0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.
 0.5 0.  0.  0.  0.5 0.  0.5 0.  0.  0.5 0.  0.  0.5 0.  0.  0.5 0.  0.5
 0.  0.5 0.  0.  0.  0.  0.  0.  0.5 0.  0.5 1.  1.  0.  0.  0.5 0.5 0.
 1.  0.  0.  0.  0.5 0.5 0.5 0.  0.5 1.  0.  0.  0.5 0.  0.5 0.  0.  0.5
 0.5 2.  0.  0.5 1.  0.  0.  0.  0.  0.5 0.  0.  0.5 0.  0.  0.  0.  0.
 0.  2.  0.5 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.5 0.
 0.5 0.  1.  0.5 0.  0.5 0.  0.5 0.  1.  0.5 0.5 0.  0.  1.  1.  0.  0.
 1.  0.5 0.  0.  0.5 0.5 0.  0.  0.  0.5 0.  0.5 1.  0.5 0.5 0.  0.  0. ]

In [35]:
x = data[['M/F', 'Age', 'SES', 'MMSE', 'eTIV', 'nWBV', 'ASF']]
print(x)

     M/F  Age  SES  MMSE  eTIV   nWBV    ASF
0      0   74  3.0  29.0  1344  0.743  1.306
1      0   55  1.0  29.0  1147  0.810  1.531
2      0   73  3.0  27.0  1454  0.708  1.207
8      1   74  2.0  30.0  1636  0.689  1.073
9      0   52  2.0  30.0  1321  0.827  1.329
..   ...  ...  ...   ...   ...    ...    ...
411    0   70  4.0  29.0  1295  0.748  1.355
412    0   73  2.0  23.0  1536  0.730  1.142
413    0   61  4.0  28.0  1354  0.825  1.297
414    1   61  2.0  30.0  1637  0.780  1.072
415    0   62  3.0  26.0  1372  0.766  1.279

[216 rows x 7 columns]

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_score, accuracy_score, recall_score, roc_curve, auc

In [37]:
X_train, x_test, Y_train, y_test = train_test_split(x, y, test_size= 0.30, random_state=42, stratify=y)

In [38]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
x_test_scaled = scaler.transform(x_test)

In [40]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y_train = le.fit_transform(Y_train)
y_test = le.fit_transform(y_test)
model = svm.SVC(random_state=42)
model.fit(X_train_scaled, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=42, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
train_score = model.score(X_trainval_scaled, y_trainval)
test_score = clf_svm.score(X_test_scaled, y_test)